body {
    background-color: #e2e2e2;
    margin: 200px auto;
    width: 60%;
}
nav ul, footer ul {
    font-family:'Monospace';
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 50px;
    margin-left: 0px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: black;
}
a:visited {
    color: gray;
}
h1 {
    font-family:'Monospace';
    font-size: 3em;
}
p {
    font-family:'Monospace';
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}
footer {
    padding: 15px;
    border-top: 1px solid gray;
    font-size: 1em;
}
ul.posts {
    font-family:'Monospace';
    font-size: 1.5em;
    margin: 20px auto 40px;
}
ul.posts li {
    list-style: none;
}
