body {
  font-family:'Monospace';
  background-color: #e2e2e2;
  margin: 50px auto;
  padding: 0;
  width: 75%;
}
nav ul, footer ul {
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 50px;
  margin-left: 0px;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: underline;
  color: #000000;
}
a:visited {
  color: #777777;
}
h1 {
  font-size: 3em;
  color: #000000;
}
h2 {
  font-style: italic;
  font-size: 1.5em;
  color: #444;
}
p {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
}
em {
  font-weight: bold;
}
footer {
  padding: 15px;
  border-top: 1px solid gray;
  font-size: 1em;
}
ul.posts {
  font-size: 1.5em;
  margin: 20px auto 40px;
}
ul.posts li {
  list-style: none;
}
