<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>

			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<!-- Including octicons -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/3.0.1/css/primer.css">

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">

			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

			<!-- Latest compiled JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			<!-- MathJax -->
			<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

			<!-- Google Material Icons -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

			<style>
			.bg-header-footer {
				background-color: #2f2f2f;
			}
		  .navbar {
		    padding-top: 1em;
		    padding-bottom: 1em;
		    letter-spacing: 0.6em;
		  }
		  .navbar-nav  li a:hover {
		    color: #1abc9c !important;
		  }
			ul.posts {
			  font-size: 1.5em;
			  margin: 1.5em auto;
			}
			ul.posts li {
			  list-style: none;
			}
			</style>
		</head>
		<body style="font-family:monospace; background-color:#e2e2e2;">

			{{ content }}

		</body>
	</html>
