---
layout: default
---
<nav class="navbar navbar-inverse bg-header-footer navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">arituerto</a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/posts_front">BLOG</a></li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RESEARCH</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/publications">PUBLICATIONS</a>
          <a class="dropdown-item" href="/projects_front">PROJECTS</a>
        </div>
      </li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="padding-top: 150px;">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      {{ content }}
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
